*{
    margin: 0;
    padding: 0;
}
header{
    height: fit-content;
    background-color: #79a9d3;
}
.link{
    color: #000000;
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    text-decoration: none;
    height: 100%s;
    font-size: 18px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:25px;
    list-style: none;  
    height: 50px;
}
main{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bigmail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.mail{
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
    display: flex;
    justify-content: center;
}
.contact{
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;  
    color: #000000;
    margin-bottom: 50px;
    font-size: 40px;
}
input{
    color: #000000;
    display: flex;
    margin-top: 10px;
    width: 300px;
    height: 50px;
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    border: solid 2px black;
    border-radius: 50px;
    background-color: #79a9d3;
}
label{
    font-family: "New Rocker", system-ui;
}
form{
    display: flex ;
    flex-direction: column;
    align-items: center;
}
textarea{
    border: solid 2px black;
    border-radius: 50px;
    background-color: #79a9d3;
}
.send{
    background-color: #79a9d3;
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-size: 20px;
    width: 100px;
}
/*media queries*/
@media only screen and (min-width: 860px){
    ul{
        gap:200px;
        height: 70px;
    } 
    main{
        height: 130vh;
    }
    .contact{
        font-size: 30px;
    }
    .mail{
        font-size: 16px;
        text-decoration: underline;
    }
    input{
        height: 40px;
    }
    .send{
        font-size: 16px;
        height: 40px;
    }
}
@media only screen and (max-width: 430px){
    .contact{
        font-size: 45px;
        margin-top: 180px;
    }
    textarea{
        width: 300px;
    }
}