*{
    margin: 0;
    padding: 0;
}
body{
    width: 99%;
    display: flex;
    flex-direction: column;
    font-family: "Anta";
}

/*HAUT DE PAGE*/
/* Header */
header {
    background-color: #656668;
    width: 101%;
    height: 12vh;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-top: 1%;
    gap: 65%;
    align-items: center;
}
.lien{
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
}
.lien:hover{
    color: #000000;
}
.github{
    width: 40px;
    transition: transform 0.2s ease-in-out;
}
.github:hover{
    transform: scale(1.2);
}

/*PAGE ACCUEIL*/
.photoaccueil{
    width: 100%;
    height: 100vh;
}
.profil{
    background-image: url("images/photoaccueil.png");
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    display: flex;
    padding: 8%;
    margin-top: 7%;
    width: 60%;
    margin-left: 12%;
}
.pro{
    width: 100%;
}
.nomprénom{
    font-size: 55px;
    text-align: center;
    color: #ffffff;
}
.sous-titre{
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    text-align: center;
    padding-top: 3%;
}

/*BIOGRAPHIE*/
.biographie{
    border-radius: 25px;
    padding: 40px 50px 40px 50px;
    margin: 15% 0% 15% 16.5%;
    width: 60%;
    margin-left: 16.5%;
    text-align: center;
    background-image: url("images/photobiographie.png");
    background-size: cover;
    background-position: center;
}
.biographie2{
    border-radius: 25px;
    padding: 40px 50px 40px 50px;
    margin: 8% 0% 8% 16.5%;
    width: 60%;
    margin-left: 16.5%;
    text-align: center;
    background-image: url("images/photobiographie.png");
    background-size: cover;
    background-position: center;
}
.bio{
    color: #000000;
    padding-bottom: 3%;
    font-size: 25px;
}
.bio2{
    color: #ffffff;
}
.savoirplus{
    padding-top: 3%;
}
.savoirplus2{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}
.parcours{
    border-radius: 25px;
    padding: 40px 50px 40px 50px;
    margin-bottom: 8%;
    width: 60%;
    margin-left: 16.5%;
    text-align: center;
    background-image: url("images/photobiographie.png");
    background-size: cover;
    background-position: center;
}
.parcours2{
    color: #000000;
    padding-bottom: 3%;
    font-size: 25px;
}
.parcours3{
    color: #ffffff;
}
.passion{
    border-radius: 25px;
    padding: 40px 50px 40px 50px;
    margin-bottom: 8%;
    width: 60%;
    margin-left: 16.5%;
    text-align: center;
    background-color: #656668;
}
.passion2{
    color: #000000;
    padding-bottom: 3%;
    font-size: 25px;
}
.passion3{
    color: #ffffff;
    padding-bottom: 3%;
}
.images{
    display: flex;
    gap: 35px;
    justify-content: center;
}
.image1{
    width: 33%;
    height: 40vh;
}
.image1:hover{
    box-shadow: 0px 0px 20px 5px #ffffff;
}
.image2{
    width: 33%;
    height: 40vh;
}
.image2:hover{
    box-shadow: 0px 0px 20px 5px #ffffff;
}
.image3{
    width: 33%;
    height: 40vh;
}
.image3:hover{
    box-shadow: 0px 0px 20px 5px #ffffff;
}

/*PROJETS*/
.mesprojets{
    text-align: center;
    font-size: 45px;
    color: #000000;
}
.projetshtml{
    text-align: center;
}
.iconeprojet{
    width: 90%;
    height: 25vh;
    transition: box-shadow 0.3s ease;
}
.iconeprojet:hover{
    box-shadow: 0px 0px 20px 5px #ffffff;
}
.titreprojet{
    font-size: 20px;
    color: #000000;
    padding-top: 8%;
}
.projets{
    padding: 6%;
    display: flex;
    justify-content: space-around;
    font-size: 45px;
}
.projets2{
    border-radius: 30px;
    background-color: #656668;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3%;
    margin-left: 8%;
    margin-bottom: 5%;
}
.fansite{
    color: #000000;
    padding-bottom: 3%;
    font-size: 25px;
}
.fansite2{
    color: #ffffff;
    padding-bottom: 3%;
    text-align: center;
}
.figma{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 5%;
}
.figmabureau{
    width: 60%;
    height: 70vh;
}
.figmatelephone{
    width: 30%;
    height: 90vh;
}
.figmasite{
    width: 50%;
    height: 60vh;
}
.figmasite2{
    width: 50%;
    height: 90vh;
}
.résultat{
    color: #000000;
    padding-bottom: 3%;
    text-align: center;
}
.icone{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icône{
    width: 100%;
    height: 22vh;
}
.quiznight{
    color: #000000;
    padding-bottom: 3%;
    font-size: 25px;
}
.quiznight2{
    color: #ffffff;
    padding-bottom: 3%;
    text-align: center;
}
.figmamatquiznight{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 5%;
}
.figmaquiz{
    width: 50%;
    height: 55vh;
}
.figmaquiz2{
    width: 100%;
    height: 90vh;
    margin-bottom: 5%;
}
.résultat2{
    color: #000000;
    padding-bottom: 5%;
    text-align: center;
}
.livredor{
    color: #000000;
    padding-bottom: 3%;
    font-size: 25px;
}
.livredor2{
    color: #ffffff;
    padding-bottom: 3%;
    text-align: center;
}
.figmalivredor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 5%;
}
.figmalivredorrr{
    width: 80%;
    height: 70vh;
}

/*PAGE CONTACT*/
.formulaire{
    background-image: url(images/photocontact.png);
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    text-align: center;
    width: 55%;
    margin-left: 20%;
    margin-top: 3%;
    padding: 2%;
}
.formulaire2{
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 5%;
    color: #000000;
}
.mail{
    font-size: 15px;
    padding-bottom: 1%;
    color: #ffffff;
}
.input{
    width: 28%;
    height: 5vh;
    border-radius: 25px;
    border: solid #000000
}
textarea{
    border-radius: 25px;
    border: solid #000000;
    width: 40%;
}
.send{
    width: 10%;
    height: 5vh;
    border-radius: 25px;
    border: solid #000000;
    color: #000000;
    font-family: 'Anta';
}

/*BAS DE PAGE*/
footer{
    background-color: #656668;
    width: 101%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    text-decoration: none;
    color: white;
}
.contact:hover{
    color: #000000;
}

@media only screen and (max-width: 600px) {
    .nomprenom0{
        padding-right: 0% !important;
        font-weight: bold !important; 
    }
    .profil {
        flex-direction: column !important;
        padding: 10% !important;
    }
    .sous-titre{
        font-size: 25px !important;
    }
    .lien{
        font-weight: bold !important; 
    }
    .reseaux3 {
        display: flex !important;
        flex-wrap: nowrap !important;
        width: 100% !important;
    }
    .github{
        width: 50% !important;
    }
    .gmail{
        width: 50% !important;
    }
    .bio {
        padding: 20px 30px 20px 30px !important;
        margin: 50px 20px 50px 20px !important;
    }
    .bio2{
        font-size: 25px !important;
        padding-bottom: 3% !important;
    }
    .bio3{
        font-size: 22px !important;
    }
    .parcours {
        padding: 20px 30px 20px 30px !important;
        margin: 20px 20px 50px 20px !important;
    }
    .parcours2{
        font-size: 28px !important;
        padding-bottom: 3% !important;
    }
    .parcours3{
        font-size: 22px !important;
    }
    .passion{
        padding: 20px 30px 20px 30px !important;
        margin: 20px 20px 20px 20px !important;
    }
    .passion2{
        font-size: 28px !important;
        padding-bottom: 3% !important;
    }
    .passion3{
        font-size: 22px !important;
    }
    .images{
        flex-direction: column !important;
        align-items: center;
    }
    .image1{
        width: 80% !important;
        height: 35vh !important;
    }
    .image2{
        width: 80% !important;
        height: 35vh !important;
    }
    .image3{
        width: 80% !important;
        height: 35vh !important;
    }
}

